@page "/popup.html"
@inherits BasePage

<body>
    <h1 style="width:600px">hi there I'm of a larger width</h1>
    <div class="slidecontainer" style="width:600px">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
</body>
