body[b-2ktd659qmt] {
  background-color: #f8f9fa;
  width: 800px;
  height: 600px;
}

.slidecontainer[b-2ktd659qmt] {
  width: 600px; /* Width of the outside container */
}

/* Mouse-over effects */
.slider:hover[b-2ktd659qmt] {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider[b-2ktd659qmt]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8e0808; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider[b-2ktd659qmt] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider[b-2ktd659qmt]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8e0808;
  cursor: pointer;
}
